# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

## Objectives


Sales forecasting is the process of estimating future sales. Accurate sales forecasts enable companies to make sound business decisions and predict short-term or long-term performance. Forecasts could be based on data such as past sales, industry-wide comparisons and economic trends.

A leading retailer in USA wants to forecast sales for their product categories in their store, based on the sales history of each category. Sales or revenues forecasting is very important for retail operations. Forecasting of retail sales helps the retailer to take necessary measures to plan their budgets or investments in a period (monthly, yearly) among different product
categories like women's clothing, men's clothing and other clothing. Further, they can plan to minimize revenue loss from unavailability of products by investing accordingly.

**Note: This data is proprietary. Please DO NOT share the dataset with anyone. The solution python notebook and test solution will not be provided.** </br>

In [ ]:
#@title Mini Hackathon Walkthrough Video
from IPython.display import HTML

HTML("""<video width="500" height="300" controls>
  <source src="https://cdn.talentsprint.com/talentsprint1/archives/sc/aiml/mini_hackathon_walkthrough.mp4" type="video/mp4">
</video>
""")

## Kaggle link and deadline:


### 1. Link to the Kaggle problem: https://www.kaggle.com/t/5fa027f6da7745219fd0a748107d8677

### 2. Deadlines:
  - **Competition closes at** 6:00 pm, 1st Aug 2020 IST
  - **Submit this Colab file with code to aimlkaggle@gmail.com:** 
      
      7.00pm 1st Aug 2020 IST

## Instructions:

- Refer to the document **M3_MiniHackathon2 - Kaggle Team Creation** for creating a Kaggle account and access the kaggle problem. Follow the steps for Team creation in Kaggle.  
- Under the 'Data' tab within the Kaggle competition page (link above), you can find four datasets. Their attributes are given in the "Attributes description".
- Follow **Stage 1** for downloading the data 
- Combine the datasets and apply data-preprocessing to obtain a clean training dataset
- Build your own model using any algorithms learnt till now
- **Get the Sales predictions for 2015 month-wise and product-wise** (36 rows)
- Copy and paste the predictions in column B (Sales(In ThousandDollars)) of the **Sample_Submission csv file** (ignore the headers)
- Upload the Sample_Submission csv file into Kaggle by clicking on Submit Predictions in Kaggle.
- The leaderboard takes and reflects your best submission until the specified deadline (maximum of 20 submissions per day per team). 

### **Important: Only the Public Leaderboard rankings are valid, not the Private Leaderboard rankings.**

## Evaluation: 
Evaluation will be done based on the teams placed in the Kaggle leaderboard

**TotalMarks=20**
- Top 5 teams will be awarded 20 marks
- 6-10 teams will be awarded 18
- 11-15 teams will be awarded 16
- 16-20 teams will be awarded 14
- Rest of the teams will be awarded 12
- **0 Marks in case of 0 submssions**

 ## Finally..
    Don't cheat!
    Apply yourself!
    Have fun!

## **Stage1:** Setting up colab for Kaggle competitions 
This setup helps you directly access the datasets etc of the Kaggle competition.

### 1. Create an API key in Kaggle.

To do this, go to kaggle.com/ and open your user settings page. Click My Account.

![alt text](https://i.stack.imgur.com/jxGQv.png
)

### 2. Next, scroll down to the API access section and click generate to download an API key. 
![alt text](https://i.stack.imgur.com/Hzlhp.png)

### 3. Upload your kaggle.json file using the following snippet in a code cell:

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"sandhyayenugula","key":"a535fc8aa027fd3dbc2b2ed57170d688"}'}

In [ ]:
#If successfully uploaded in the above step, the 'ls' command here should display the kaggle.json file.
%ls

kaggle.json  sample_data/

### 4. Install the kaggle API using following command

In [ ]:
!pip install -q kaggle

### 5. Move the kaggle.json file into ~/.kaggle, which is where the API client expects your token to be located:

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [ ]:
#Execute the following command to verify whether the kaggle.json is stored in the appropriate location: ~/.kaggle/kaggle.json
!ls ~/.kaggle

kaggle.json

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json #run this command to ensure your Kaggle API token is secure on colab

### 6. Now download the data

In [ ]:
!mkdir data

**NOTE: If you get a '404 - Not Found' error after running the cell below, it is mostly likely that the user (whose kaggle.json is uploaded above) has not 'accepted' the rules of the competition and therefore has 'not joined' the competition.**

In [ ]:
#If you get a forbidden link, you have most likely not joined the competition.
!kaggle competitions download -c retail-case-study-batch14 -p data

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading AttributesDescription.xlsx to data
  0% 0.00/10.2k [00:00<?, ?B/s]
100% 10.2k/10.2k [00:00<00:00, 19.4MB/s]
Downloading MacroEconomicData.xlsx to data
  0% 0.00/17.4k [00:00<?, ?B/s]
100% 17.4k/17.4k [00:00<00:00, 14.6MB/s]
Downloading WeatherData.xlsx to data
  0% 0.00/281k [00:00<?, ?B/s]
100% 281k/281k [00:00<00:00, 94.5MB/s]
Downloading Test_Kaggle.csv to data
  0% 0.00/793 [00:00<?, ?B/s]
100% 793/793 [00:00<00:00, 694kB/s]
Downloading Sample_Submission.csv to data
  0% 0.00/309 [00:00<?, ?B/s]
100% 309/309 [00:00<00:00, 261kB/s]
Downloading Events_HolidaysData.xlsx to data
  0% 0.00/12.4k [00:00<?, ?B/s]
100% 12.4k/12.4k [00:00<00:00, 10.5MB/s]
Downloading Train_Kaggle.csv to data
  0% 0.00/5.31k [00:00<?, ?B/s]
100% 5.31k/5.31k [00:00<00:00, 4.50MB/s]

## **Stage 2:** YOUR CODE to crack the Kaggle problem here. 

1.  Get the Sales prediction for the 2015 month-wise and product-wise (which give 36 rows). The product order for every month prediction can be as per test_kaggle.csv file.

2.  Copy and paste the predictions in Sample_Submission.csv (in Sales(In ThousandDollars)) and upload into Kaggle. 

After uploading the predictions in Kaggle, the RMSE score will be displayed on leaderboard.

Understand the RMSE score [here](https://medium.com/analytics-vidhya/forecast-kpi-rmse-mae-mape-bias-cdc5703d242d) with an example.

**Note: It is best advised to write all the code here. (If for any reason you are using other colab files, you could cut and paste the code from there into this notebook)**

## 1) Data Munging and Feature Selection

In [ ]:
!ls

data  kaggle.json  sample_data

In [ ]:
#  <All Code here>

import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

Set Data Folder Path

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive') # Go to the URL appearing below

In [ ]:
#data_folder = '/content/drive/My Drive/IIIT_AI_ML_Colab_Notebooks/3_M3_36_01Aug_MiniHackathon_SalesForecast/Data/'
data_folder = '/content/data/'

print(data_folder)

train_file = 'Train_Kaggle.csv'
holidays_file = 'Events_HolidaysData.xlsx'
weather_file = 'WeatherData.xlsx'
economic_file = 'MacroEconomicData.xlsx'

test_file = 'Test_Kaggle.csv'
submission_file = 'Sample_Submission.csv'

print(train_file, " ", holidays_file, " ",  weather_file, " ", economic_file, " ",test_file, " ", submission_file)

month_no = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}
month_no

/content/data/
Train_Kaggle.csv   Events_HolidaysData.xlsx   WeatherData.xlsx   MacroEconomicData.xlsx   Test_Kaggle.csv   Sample_Submission.csv

{'Apr': 4,
 'Aug': 8,
 'Dec': 12,
 'Feb': 2,
 'Jan': 1,
 'Jul': 7,
 'Jun': 6,
 'Mar': 3,
 'May': 5,
 'Nov': 11,
 'Oct': 10,
 'Sep': 9}

a. Clean Train Dataframe

In [ ]:
# 1. Clean Train Dataframe
df_train = pd.read_csv(data_folder + train_file)
# df_train # 6 Years * 12 Months * 3 ProductCategories = 216 (2009 2010 2011 2012 2013 2014)

#df_train.drop(df_train[df_train['Year'].isin([2015,2016])].index, axis=1 , inplace=True)
df_train['Sales(In ThousandDollars)'] = df_train['Sales(In ThousandDollars)'].fillna((df_train['Sales(In ThousandDollars)'].mean()))
# Based on Category, apply mean for NaNs

#df_train = pd.get_dummies(df_train, prefix='ProductCategory')
df_train['ProductCategory'] = pd.Categorical(df_train['ProductCategory'])
df_train['ProductCategory'] = df_train['ProductCategory'].cat.codes  

print("[2015, 2016] Data set len - ", len(df_train[df_train['Year'].isin([2015, 2016])]))

print("+++++++  Holiday Train data +++++++   ")
print("Shape - ", df_train.shape)
print(df_train['Year'].value_counts())
print(df_train.head())

[2015, 2016] Data set len -  0
+++++++  Holiday Train data +++++++
Shape -  (216, 4)
2014    36
2013    36
2012    36
2011    36
2010    36
2009    36
Name: Year, dtype: int64
   Year  Month  ProductCategory  Sales(In ThousandDollars)
0  2009      1                2                     1755.0
1  2009      1                0                      524.0
2  2009      1                1                      936.0
3  2009      2                2                     1729.0
4  2009      2                0                      496.0

b. Clean Holidays Dataframe

In [ ]:
# 2. Clean Holidays Dataframe
df_holidays = pd.read_excel(data_folder + holidays_file)
df_holidays['MonthDate'] = pd.to_datetime(df_holidays['MonthDate'])# datetime conversio first; # DatetimeIndex can also be used simpler
df_holidays['MonthDate'] = df_holidays['MonthDate'].dt.strftime('%b-%d') # mmm-dd format, mmm - %b, month-%B

print("Shape BEFORE - ", df_holidays.shape)
df_holidays.columns
#df_holidays['Year'] = df_holidays['Year'].fillna(df_holidays['Year'].mode().iat[0])
df_holidays['Year'] = df_holidays['Year'].fillna(2013)
df_holidays['Year'] = df_holidays['Year'].astype(int)
df_holidays[['Month', 'Date']] = df_holidays['MonthDate'].str.split('-', expand=True) # from Colab "data" folder

df_holidays = df_holidays.replace({"Month":month_no})
df_holidays = pd.get_dummies(df_holidays, columns=['DayCategory']) #, prefix='HolidayType_')

df_holidays.drop(['MonthDate','Date', 'Event'], axis=1, inplace=True) # Drop unnecessary columns
df_holidays = df_holidays.groupby(['Year', 'Month'], as_index=False)['DayCategory_Event','DayCategory_Federal Holiday'].sum()

print("Train data set len - ", len(df_holidays[df_holidays['Year'].isin([2009, 2010, 2011, 2012, 2013, 2014])]))
print("[2015, 2016] Data set len - ", len(df_holidays[df_holidays['Year'].isin([2015, 2016])]))
print("Test data set len - ", len(df_holidays[df_holidays['Year'].isin([2015])]))

Shape BEFORE -  (150, 4)
Train data set len -  60
[2015, 2016] Data set len -  21
Test data set len -  10

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
df_holidays_Train = df_holidays[df_holidays['Year'].isin([2009, 2010, 2011, 2012, 2013, 2014])]
df_holidays_Test = df_holidays[df_holidays['Year'].isin([2015])]

print("+++++++  Holiday Train data +++++++   ")
print("Shape - ", df_holidays_Train.shape)
print(df_holidays_Train['Year'].value_counts())
print(df_holidays_Train.head())

print("+++++++  Holiday Test data +++++++   ")
print("Shape - ", df_holidays_Test.shape)
print(df_holidays_Test['Year'].value_counts())
print(df_holidays_Test.head())

+++++++  Holiday Train data +++++++
Shape -  (60, 4)
2014    10
2013    10
2012    10
2011    10
2010    10
2009    10
Name: Year, dtype: int64
   Year  Month  DayCategory_Event  DayCategory_Federal Holiday
0  2009      1                  0                            2
1  2009      2                  1                            1
2  2009      4                  1                            0
3  2009      5                  1                            1
4  2009      6                  1                            0
+++++++  Holiday Test data +++++++
Shape -  (10, 4)
2015    10
Name: Year, dtype: int64
    Year  Month  DayCategory_Event  DayCategory_Federal Holiday
60  2015      1                  0                            2
61  2015      2                  1                            1
62  2015      4                  2                            0
63  2015      5                  1                            1
64  2015      6                  1                            0

c. Clean Weather Dataframe

In [ ]:
# 3. Clean Weather Dataframe  
df_weather_file = pd.ExcelFile(data_folder + weather_file)
df_weather = pd.read_excel(df_weather_file, sheet_name = df_weather_file.sheet_names)
df_weather = pd.concat(df_weather[k] for k in df_weather.keys())

print("Shape BEFORE - ", df_weather.shape)

df_weather = df_weather.replace({"Month":month_no})
df_weather = df_weather.apply(pd.to_numeric, errors='coerce') # Using coerce - Returns NANs if not convertible, say string values - avg, high
df_weather = df_weather.replace('-', np.nan)

df_weather['Year'] = df_weather['Year'].fillna(df_weather['Year'].mode().iat[0])
df_weather['Month'] = df_weather['Month'].fillna(df_weather['Month'].mode().iat[0])
df_weather[['Year','Month']] = df_weather[['Year','Month']].astype(int)

df_weather.drop(['WeatherEvent'], axis=1, inplace=True)

df_weather = df_weather.groupby(['Year', 'Month'], as_index=False)['Temp avg (°C)',
      'Dew Point avg (°C)',
      'Humidity\xa0(%) avg',
      'Sea Level Press.\xa0(hPa) avg',
      'Visibility\xa0(km) avg', 
      'Wind\xa0(km/h) avg'].mean()

print("Train data set len - ", len(df_weather[df_weather['Year'].isin([2009, 2010, 2011, 2012, 2013, 2014])]))
print("[2015, 2016] Data set len - ", len(df_weather[df_weather['Year'].isin([2015, 2016])]))
print("Test data set len - ", len(df_weather[df_weather['Year'].isin([2015])]))

Shape BEFORE -  (2923, 23)
Train data set len -  72
[2015, 2016] Data set len -  24
Test data set len -  12

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
df_weather_Train = df_weather[df_weather['Year'].isin([2009, 2010, 2011, 2012, 2013, 2014])]
df_weather_Test = df_weather[df_weather['Year'].isin([2015])]

print("+++++++  Weather Train data +++++++   ")
print("Shape - ", df_weather_Train.shape)
print(df_weather_Train['Year'].value_counts())
print(df_weather_Train.head())

print("+++++++  Weather Test data +++++++   ")
print("Shape - ", df_weather_Test.shape)
print(df_weather_Test['Year'].value_counts())
print(df_weather_Test.head())

+++++++  Weather Train data +++++++
Shape -  (72, 8)
2014    12
2013    12
2012    12
2011    12
2010    12
2009    12
Name: Year, dtype: int64
   Year  Month  ...  Visibility (km) avg  Wind (km/h) avg
0  2009      1  ...            14.000000        12.000000
1  2009      2  ...            15.178571        12.214286
2  2009      3  ...            14.258065        11.387097
3  2009      4  ...            14.066667        11.366667
4  2009      5  ...            12.451613         8.000000

[5 rows x 8 columns]
+++++++  Weather Test data +++++++
Shape -  (12, 8)
2015    12
Name: Year, dtype: int64
    Year  Month  ...  Visibility (km) avg  Wind (km/h) avg
72  2015      1  ...            13.032258        11.677419
73  2015      2  ...            13.428571        11.750000
74  2015      3  ...            12.935484         9.838710
75  2015      4  ...            14.700000        10.433333
76  2015      5  ...            14.032258         6.806452

[5 rows x 8 columns]

d. Clean Macro Economic Dataframe

In [ ]:
# 4. Clean Economic Dataframe
df_economic = pd.read_excel(data_folder + economic_file)
print("Shape BEFORE - ", df_economic.shape)

df_economic[['Year', 'Month']] = df_economic['Year-Month'].str.split("-", expand = True)
df_economic[['Month']] = df_economic['Month'].str.strip()
df_economic.drop(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)', 'PartyInPower', 'CommercialBankInterestRateonCreditCardPlans',
                  'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan', 'AdvertisingExpenses (in Thousand Dollars)', 'Change(in%)',
                  'Average upland planted(million acres)', 'Average upland harvested(million acres)', 'yieldperharvested acre', 
                  'Production (in  480-lb netweright in million bales)','Mill use  (in  480-lb netweright in million bales)', 'Exports'],
                    axis=1, inplace=True)

df_economic = df_economic.replace({"Month":month_no})  
df_economic[['Year','Month']] = df_economic[['Year','Month']].astype(int)

df_economic = df_economic.groupby(['Year', 'Month'], as_index=False)['Monthly Real GDP Index (inMillion$)', 
                                          'CPI', 'unemployment rate', 'Earnings or wages  in dollars per hour', 
                                          'Cotton Monthly Price - US cents per Pound(lbs)'].mean()

print("Train data set len - ", len(df_economic[df_economic['Year'].isin([2009, 2010, 2011, 2012, 2013, 2014])]))
print("[2015, 2016] Data set len - ", len(df_economic[df_economic['Year'].isin([2015, 2016])]))
print("Test data set len - ", len(df_economic[df_economic['Year'].isin([2015])]))

Shape BEFORE -  (96, 18)
Train data set len -  72
[2015, 2016] Data set len -  24
Test data set len -  12

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
df_economic_Train = df_economic[df_economic['Year'].isin([2009, 2010, 2011, 2012, 2013, 2014])]
df_economic_Test = df_economic[df_economic['Year'].isin([2015])]

print("+++++++  Economic Train data +++++++   ")
print("Shape - ", df_economic_Train.shape)
print(df_economic_Train['Year'].value_counts())
print(df_economic_Train.head())

print("+++++++  Eeconomic Test data +++++++   ")
print("Shape - ", df_economic_Test.shape)
print(df_economic_Test['Year'].value_counts())
print(df_economic_Test.head())

+++++++  Economic Train data +++++++
Shape -  (72, 7)
2014    12
2013    12
2012    12
2011    12
2010    12
2009    12
Name: Year, dtype: int64
   Year  ...  Cotton Monthly Price - US cents per Pound(lbs)
0  2009  ...                                           57.70
1  2009  ...                                           55.21
2  2009  ...                                           51.50
3  2009  ...                                           56.78
4  2009  ...                                           61.95

[5 rows x 7 columns]
+++++++  Eeconomic Test data +++++++
Shape -  (12, 7)
2015    12
Name: Year, dtype: int64
    Year  ...  Cotton Monthly Price - US cents per Pound(lbs)
72  2015  ...                                           67.35
73  2015  ...                                           69.84
74  2015  ...                                           69.35
75  2015  ...                                           71.70
76  2015  ...                                           72.86

[5 rows x 7 columns]

In [ ]:
df_test = pd.read_csv(data_folder + test_file)
print("Shape BEFORE - ", df_test.shape)

df_test['ProductCategory'] = pd.Categorical(df_test['ProductCategory'])
df_test['ProductCategory'] = df_test['ProductCategory'].cat.codes
df_test.drop(['Sales(In ThousandDollars)'], axis=1, inplace=True)
print("Shape AFTER - ", df_test.shape)
df_test

Shape BEFORE -  (36, 4)
Shape AFTER -  (36, 3)

    Year  Month  ProductCategory
0   2015      1                2
1   2015      1                0
2   2015      1                1
3   2015      2                2
4   2015      2                0
5   2015      2                1
6   2015      3                2
7   2015      3                0
8   2015      3                1
9   2015      4                2
10  2015      4                0
11  2015      4                1
12  2015      5                2
13  2015      5                0
14  2015      5                1
15  2015      6                2
16  2015      6                0
17  2015      6                1
18  2015      7                2
19  2015      7                0
20  2015      7                1
21  2015      8                2
22  2015      8                0
23  2015      8                1
24  2015      9                2
25  2015      9                0
26  2015      9                1
27  2015     10                2
28  2015     10                0
29  2015     10                1
30  2015     11                2
31  2015     11                0
32  2015     11                1
33  2015     12                2
34  2015     12                0
35  2015     12                1

## 2) Merge Train and Test Datasets with Respective Data sets, Handle NANs

In [ ]:
print("+++++++  NaNs in Train data +++++++   ")
print(df_train.isna().sum().sum())
print(df_holidays_Train.isna().sum().sum())
print(df_economic_Train.isna().sum().sum())
print(df_weather_Train.isna().sum().sum())

print("+++++++  NaNs in Test data +++++++   ")
print(df_test.isna().sum().sum())
print(df_holidays_Test.isna().sum().sum())
print(df_economic_Test.isna().sum().sum())
print(df_weather_Test.isna().sum().sum())

+++++++  NaNs in Train data +++++++
0
0
0
0
+++++++  NaNs in Test data +++++++
0
0
0
0

In [ ]:
# Total 4 Dataframes Merged, 1st 'Train' with 'Holidays', 2nd 'Economic' with 'Weather', 3rd Merge on 2 resultant Dataframes
df_Sales_Train = (pd.merge(df_train, df_holidays_Train, how='left', on=['Year','Month'])).merge(pd.merge(df_economic_Train, df_weather_Train, how='left', on=['Year','Month']), how = 'left', on=['Year','Month'])
print("+++++++  Merged Sales Train data  +++++++   ")
print("Before - ",df_Sales_Train.shape)
df_Sales_Train.drop(['Monthly Real GDP Index (inMillion$)', 'CPI', 'Earnings or wages  in dollars per hour', 'Dew Point avg (°C)'], axis=1, inplace=True)
print("After",df_Sales_Train.shape)
print(df_Sales_Train.head)
    #df_Sales_Train[(df_Sales_Train['Year'] ==2009) & (df_Sales_Train['Month'] == 3)]

df_Sales_Test = (pd.merge(df_test, df_holidays_Test, how='left', on=['Year','Month'])).merge(pd.merge(df_economic_Test, df_weather_Test, how='left', on=['Year','Month']), how = 'left', on=['Year','Month'])
print("+++++++  Merged Sales Test data  +++++++   ")
print("Before", df_Sales_Test.shape)
df_Sales_Test.drop(['Monthly Real GDP Index (inMillion$)', 'CPI','Earnings or wages  in dollars per hour', 'Dew Point avg (°C)'],  axis=1, inplace=True)
print("After", df_Sales_Test.shape)
print(df_Sales_Test.head)

+++++++  Merged Sales Train data  +++++++
Before -  (216, 17)
After (216, 13)
<bound method NDFrame.head of      Year  Month  ...  Visibility (km) avg  Wind (km/h) avg
0    2009      1  ...            14.000000        12.000000
1    2009      1  ...            14.000000        12.000000
2    2009      1  ...            14.000000        12.000000
3    2009      2  ...            15.178571        12.214286
4    2009      2  ...            15.178571        12.214286
..    ...    ...  ...                  ...              ...
211  2014     11  ...            14.266667         8.800000
212  2014     11  ...            14.266667         8.800000
213  2014     12  ...            13.193548        10.838710
214  2014     12  ...            13.193548        10.838710
215  2014     12  ...            13.193548        10.838710

[216 rows x 13 columns]>
+++++++  Merged Sales Test data  +++++++
Before (36, 16)
After (36, 12)
<bound method NDFrame.head of     Year  Month  ...  Visibility (km) avg  Wind (km/h) avg
0   2015      1  ...            13.032258        11.677419
1   2015      1  ...            13.032258        11.677419
2   2015      1  ...            13.032258        11.677419
3   2015      2  ...            13.428571        11.750000
4   2015      2  ...            13.428571        11.750000
5   2015      2  ...            13.428571        11.750000
6   2015      3  ...            12.935484         9.838710
7   2015      3  ...            12.935484         9.838710
8   2015      3  ...            12.935484         9.838710
9   2015      4  ...            14.700000        10.433333
10  2015      4  ...            14.700000        10.433333
11  2015      4  ...            14.700000        10.433333
12  2015      5  ...            14.032258         6.806452
13  2015      5  ...            14.032258         6.806452
14  2015      5  ...            14.032258         6.806452
15  2015      6  ...            13.100000         7.533333
16  2015      6  ...            13.100000         7.533333
17  2015      6  ...            13.100000         7.533333
18  2015      7  ...            14.161290         5.483871
19  2015      7  ...            14.161290         5.483871
20  2015      7  ...            14.161290         5.483871
21  2015      8  ...            15.354839         5.903226
22  2015      8  ...            15.354839         5.903226
23  2015      8  ...            15.354839         5.903226
24  2015      9  ...            14.766667         7.033333
25  2015      9  ...            14.766667         7.033333
26  2015      9  ...            14.766667         7.033333
27  2015     10  ...            15.161290         8.451613
28  2015     10  ...            15.161290         8.451613
29  2015     10  ...            15.161290         8.451613
30  2015     11  ...            14.814815         7.821429
31  2015     11  ...            14.814815         7.821429
32  2015     11  ...            14.814815         7.821429
33  2015     12  ...            12.333333         8.451613
34  2015     12  ...            12.333333         8.451613
35  2015     12  ...            12.333333         8.451613

[36 rows x 12 columns]>

Merging Train and Test Data sets and Handling NaNs post merge

In [ ]:
print("+++++++  Train NaNs After Merge  +++++++   ")
print("NaNs in Train After Merging with Sales data sets")
print(df_Sales_Train.isna().sum().sum())

df_Sales_Train['DayCategory_Event'] = df_Sales_Train['DayCategory_Event'].fillna(0)
df_Sales_Train['DayCategory_Federal Holiday'] = df_Sales_Train['DayCategory_Federal Holiday'].fillna(0)

print("/n NaNs")
print(df_Sales_Train.isna().sum().sum())

print("+++++++  Test NaNs After Merge  +++++++   ")
print("NaNs in Test After Merging with Sales data sets") # No Holidays on few months so on Merge we get these NaNs
print(df_Sales_Test.isna().sum())

df_Sales_Test['DayCategory_Event'] = df_Sales_Test['DayCategory_Event'].fillna(0)
df_Sales_Test['DayCategory_Federal Holiday'] = df_Sales_Test['DayCategory_Federal Holiday'].fillna(0)

print("/n NaNs")
print(df_Sales_Test.isna().sum().sum())

+++++++  Train NaNs After Merge  +++++++
NaNs in Train After Merging with Sales data sets
72
/n NaNs
0
+++++++  Test NaNs After Merge  +++++++
NaNs in Test After Merging with Sales data sets
Year                                              0
Month                                             0
ProductCategory                                   0
DayCategory_Event                                 6
DayCategory_Federal Holiday                       6
unemployment rate                                 0
Cotton Monthly Price - US cents per Pound(lbs)    0
Temp avg (°C)                                     0
Humidity (%) avg                                  0
Sea Level Press. (hPa) avg                        0
Visibility (km) avg                               0
Wind (km/h) avg                                   0
dtype: int64
/n NaNs
0

In [ ]:
df_Sales_Train.to_csv("FullTrain.csv")
df_Sales_Test.to_csv("FullTest.csv")

## 3) Train Regression Models for Validation RMSE, Predict Test Sales for 2015
(2015 Sales - Month-wise, Product-wise)

In [ ]:
labels_train = df_Sales_Train['Sales(In ThousandDollars)']
features_train = df_Sales_Train.drop('Sales(In ThousandDollars)', axis=1)

print("+++++++  Train Features and label Dimensions  +++++++   ")
print(features_train.shape,labels_train.shape)

# ***********************************************************************************
features_test = df_Sales_Test
print("+++++++  Test Features Dimensions  +++++++   ")
print(features_test.shape) # Predict 2015 Sales - Which are Test Labels

+++++++  Train Features and label Dimensions  +++++++
(216, 12) (216,)
+++++++  Test Features Dimensions  +++++++
(36, 12)

In [ ]:
features_train = features_train.drop(columns=['unemployment rate'])
features_test = features_test.drop(columns=['unemployment rate'])

In [ ]:
X_train_T, X_val_T, y_train_T, y_val_T = train_test_split(features_train, labels_train, test_size=0.20, random_state=100)
print(X_train_T.shape, y_train_T.shape, X_val_T.shape, y_val_T.shape) # Combination with features_test

(172, 11) (172,) (44, 11) (44,)

In [ ]:
features_train.head(2)

   Year  Month  ...  Visibility (km) avg  Wind (km/h) avg
0  2009      1  ...                 14.0             12.0
1  2009      1  ...                 14.0             12.0

[2 rows x 11 columns]

In [ ]:
scalar = StandardScaler()
features_train_scaled = features_train.copy(deep=True)
features_test_scaled = features_test.copy(deep=True)

features_train_scaled[['Sea Level Press.\xa0(hPa) avg', 'Cotton Monthly Price - US cents per Pound(lbs)',
                                      'Temp avg (°C)','Humidity\xa0(%) avg', 'Visibility\xa0(km) avg', 'Wind\xa0(km/h) avg']] = scalar.fit_transform(features_train_scaled[['Sea Level Press.\xa0(hPa) avg', 'Cotton Monthly Price - US cents per Pound(lbs)',
                                      'Temp avg (°C)','Humidity\xa0(%) avg', 'Visibility\xa0(km) avg', 'Wind\xa0(km/h) avg']])

features_test_scaled[['Sea Level Press.\xa0(hPa) avg', 'Cotton Monthly Price - US cents per Pound(lbs)',
                                      'Temp avg (°C)','Humidity\xa0(%) avg', 'Visibility\xa0(km) avg', 'Wind\xa0(km/h) avg']]  = scalar.fit_transform(features_test_scaled[['Sea Level Press.\xa0(hPa) avg', 'Cotton Monthly Price - US cents per Pound(lbs)',
                                      'Temp avg (°C)','Humidity\xa0(%) avg', 'Visibility\xa0(km) avg', 'Wind\xa0(km/h) avg']] )
#scaled_features_test = scalar.transform(features_test)
# df[['x','z']] = mms.fit_transform(df[['x','z']])

In [ ]:
print(features_train_scaled.shape, features_test_scaled.shape)
print(features_train_scaled)
print(features_test_scaled)

(216, 11) (36, 11)
     Year  Month  ...  Visibility (km) avg  Wind (km/h) avg
0    2009      1  ...             0.139066         1.297163
1    2009      1  ...             0.139066         1.297163
2    2009      1  ...             0.139066         1.297163
3    2009      2  ...             1.449162         1.400186
4    2009      2  ...             1.449162         1.400186
..    ...    ...  ...                  ...              ...
211  2014     11  ...             0.435492        -0.241310
212  2014     11  ...             0.435492        -0.241310
213  2014     12  ...            -0.757384         0.738847
214  2014     12  ...            -0.757384         0.738847
215  2014     12  ...            -0.757384         0.738847

[216 rows x 11 columns]
    Year  Month  ...  Visibility (km) avg  Wind (km/h) avg
0   2015      1  ...            -0.998162         1.616109
1   2015      1  ...            -0.998162         1.616109
2   2015      1  ...            -0.998162         1.616109
3   2015      2  ...            -0.582985         1.652252
4   2015      2  ...            -0.582985         1.652252
5   2015      2  ...            -0.582985         1.652252
6   2015      3  ...            -1.099543         0.700486
7   2015      3  ...            -1.099543         0.700486
8   2015      3  ...            -1.099543         0.700486
9   2015      4  ...             0.748963         0.996591
10  2015      4  ...             0.748963         0.996591
11  2015      4  ...             0.748963         0.996591
12  2015      5  ...             0.049437        -0.809489
13  2015      5  ...             0.049437        -0.809489
14  2015      5  ...             0.049437        -0.809489
15  2015      6  ...            -0.927196        -0.447523
16  2015      6  ...            -0.927196        -0.447523
17  2015      6  ...            -0.927196        -0.447523
18  2015      7  ...             0.184611        -1.468095
19  2015      7  ...             0.184611        -1.468095
20  2015      7  ...             0.184611        -1.468095
21  2015      8  ...             1.434972        -1.259269
22  2015      8  ...             1.434972        -1.259269
23  2015      8  ...             1.434972        -1.259269
24  2015      9  ...             0.818803        -0.696509
25  2015      9  ...             0.818803        -0.696509
26  2015      9  ...             0.818803        -0.696509
27  2015     10  ...             1.232211         0.009753
28  2015     10  ...             1.232211         0.009753
29  2015     10  ...             1.232211         0.009753
30  2015     11  ...             0.869243        -0.304060
31  2015     11  ...             0.869243        -0.304060
32  2015     11  ...             0.869243        -0.304060
33  2015     12  ...            -1.730356         0.009753
34  2015     12  ...            -1.730356         0.009753
35  2015     12  ...            -1.730356         0.009753

[36 rows x 11 columns]

In [ ]:
scaled_features_train = features_train_scaled
scaled_features_test = features_test_scaled

In [ ]:
# scaled_features_train = scaled_features_train.drop(columns=['unemployment rate'])
# scaled_features_test = scaled_features_test.drop(columns=['unemployment rate'])

In [ ]:
print("+++++++  Train Features Dimensions  +++++++   ")
X_train, X_val, y_train, y_val = train_test_split(scaled_features_train, labels_train, test_size=0.20, random_state=100)
print(X_train.shape, y_train.shape, X_val.shape, y_val.shape)

+++++++  Train Features Dimensions  +++++++
(172, 11) (172,) (44, 11) (44,)

## 1. Linear Regression - Model

In [ ]:
# Train sale Predictions for RMSE using Linear Regression
LR_model = linear_model.LinearRegression()
print(LR_model)

LR_model.fit(X_train, y_train)

y_val_pred_LR = LR_model.predict(X_val)
print("RMSE Train - ", mean_squared_error(y_val, y_val_pred_LR, squared=False)) # RMSE - Root Mean Square Error, squared = false
# Before Standard Scalar #RMSE Train -  558.8475064713318

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
RMSE Train -  551.5126718312528

In [ ]:
# Test 2015 Sales Predictions using Linear Regression
y_test_pred_LR = LR_model.predict(scaled_features_test) # Test Labels here are 2015 Test Sales
print("Sales Predictions Count", len(y_test_pred_LR))
print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print("Test Sales Predictions for 2015 - \n", y_test_pred_LR)

df_Sales_Test_csv = df_Sales_Test.copy(deep=True)
df_Sales_Test_csv['Sales(In ThousandDollars)'] = y_test_pred_LR
df_Sales_Test_csv['Sales(In ThousandDollars)'].to_csv('Sample_Predictions_LR.csv')
# Test Sales Predictions with Model Trained on Train Data File Merged with all 3 other Data files - Holidays, Weather and Economic Data sets

Sales Predictions Count 36
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Test Sales Predictions for 2015 -
 [3040.13975357  609.19756002 1824.66865679 3249.41419975  818.47200621
 2033.94310298 3334.50381255  903.56161901 2119.03271578 3554.66295695
 1123.7207634  2339.19186017 3415.67471826  984.73252471 2200.20362149
 3275.98518055  845.04298701 2060.51408378 3013.76004969  582.81785615
 1798.28895292 3277.20618966  846.26399612 2061.73509289 3246.23554616
  815.29335262 2030.76444939 3454.31413926 1023.37194572 2238.84304249
 3272.6365603   841.69436675 2057.16546353 3970.58072348 1539.63852993
 2755.10962671]

## 2. KNN Regression - Model

In [ ]:
# Train sale Predictions for RMSE using KNN Regression
KNN_model = KNeighborsRegressor(n_neighbors=3) #7
KNN_model.fit(X_train_T, y_train_T)

y_val_pred_KNN = KNN_model.predict(X_val_T)
print("RMSE Train - ", mean_squared_error(y_val_T, y_val_pred_KNN, squared=False)) # RMSE - Root Mean Square Error, squared = false
#RMSE Train -  1193.4424775253856

RMSE Train -  1352.960859427595

## 3. DT Regression - Model

In [ ]:
# Train sale Predictions for RMSE using DT Regression
DT_model = DecisionTreeRegressor(max_depth=5, random_state=100, min_samples_split=3, min_samples_leaf=1)
DT_model.fit(X_train_T, y_train_T)

y_val_pred_DT = DT_model.predict(X_val_T)
print("RMSE Train - ", mean_squared_error(y_val_T, y_val_pred_DT, squared=False)) # RMSE - Root Mean Square Error, squared = false
#RMSE Train -  655.115814087771

RMSE Train -  405.29856071519185

In [ ]:
# Test 2015 Sales Predictions using DT Regression

y_test_pred_DT = DT_model.predict(features_test) # Test Labels here are 2015 Test Sales
print("Sales Predictions Count", len(y_test_pred_DT))
print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print("Test Sales Predictions for 2015 - \n", y_test_pred_DT)

df_Sales_Test_DT_csv = df_Sales_Test.copy(deep=True)
df_Sales_Test_DT_csv['Sales(In ThousandDollars)'] = y_test_pred_DT
df_Sales_Test_DT_csv['Sales(In ThousandDollars)'].to_csv('Sample_Predictions_DT.csv')
# Test Sales Predictions with Model Trained on Train Data File Merged with all 3 other Data files - Holidays, Weather and Economic Data sets

Sales Predictions Count 36
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Test Sales Predictions for 2015 -
 [2916.5         515.4        1290.90756303 2916.5         515.4
 1290.90756303 4153.6         618.6        1290.90756303 4153.6
  738.13071895 1290.90756303 4153.6        1073.87058824 1290.90756303
 4153.6         738.13071895 1136.01960784 4153.6        1702.35294118
 1290.90756303 4153.6         738.13071895 1290.90756303 4153.6
  738.13071895 1290.90756303 4153.6         738.13071895 1290.90756303
 4153.6        1073.87058824 1290.90756303 5264.5         738.13071895
 1967.        ]

## 4. Random Forest Regression - Model

In [ ]:
# With Scaling with Full data
# Train sale Predictions for RMSE using DT Regression

RF_model_RF = RandomForestRegressor(max_depth=5, random_state=0, min_samples_split=3, min_samples_leaf=1)
RF_model_RF.fit(scaled_features_train, labels_train)

y_test_pred_RF = RF_model_RF.predict(scaled_features_test)
print(y_test_pred_RF)

df_Sales_Test_RF_csv = df_Sales_Test.copy(deep=True)
df_Sales_Test_RF_csv['Sales(In ThousandDollars)'] = y_test_pred_RF
df_Sales_Test_RF_csv['Sales(In ThousandDollars)'].to_csv('Sample_Predictions_RF.csv')
# Test Sales Predictions with Model Trained on Train Data File Merged with all 3 other Data files - Holidays, Weather and Economic Data sets

[3365.4069083   595.87523882 1220.15756264 3352.95272104  593.49557216
 1249.48853633 4104.80126627  646.31735056 1225.32433605 4216.33871668
  738.8685819  1376.64030198 3921.28172264  697.08849117 1341.8311521
 3875.86023449  694.75200812 1309.00115572 3829.04609549  787.2102754
 1244.31396448 3859.06404784  866.43680584 1276.22201865 4129.79743405
  779.50471926 1187.68852631 4192.09894646  772.38494969 1302.38493609
 4273.11241092  763.48340864 1234.22096716 4671.40398291  981.27294018
 1572.18859256]

In [ ]:
# With Scaling with Validation data
# Train sale Predictions for RMSE using DT Regression

RF_model = RandomForestRegressor(max_depth=5, random_state=0, min_samples_split=3, min_samples_leaf=1)
RF_model.fit(X_train, y_train)

y_val_pred_RF = RF_model.predict(X_val)
print("RMSE Train - ", mean_squared_error(y_val, y_val_pred_RF, squared=False)) # RMSE - Root Mean Square Error, squared = false
#RMSE Train -  296.7196794584481

RMSE Train -  274.9006992120847

In [ ]:
# Without Scaling Full Data
# Train sale Predictions for RMSE using DT Regression

RF_model = RandomForestRegressor(max_depth=5, random_state=0, min_samples_split=3, min_samples_leaf=1)
RF_model.fit(features_train, labels_train)

y_test_pred_RF_Full = RF_model.predict(features_test)
print(y_test_pred_RF_Full)

df_Sales_Test_RF_csv = df_Sales_Test.copy(deep=True)
df_Sales_Test_RF_csv['Sales(In ThousandDollars)'] = y_test_pred_RF_Full
df_Sales_Test_RF_csv['Sales(In ThousandDollars)'].to_csv('Sample_Predictions_RF_Full.csv')
# Test Sales Predictions with Model Trained on Train Data File Merged with all 3 other Data files - Holidays, Weather and Economic Data sets

[3388.51245043  664.94002648 1228.16253069 3508.20452254  606.20716636
 1262.62269742 4135.48856755  657.38301708 1250.5137123  4303.40690307
  740.82056588 1332.28066975 4139.22301597  792.03351852 1288.10501659
 4096.28814602  688.02855863 1239.68970722 4036.52630674 1256.64304592
 1180.34291433 4065.56686019  936.64734637 1231.63178421 4159.81068188
  791.41632676 1214.39760193 4196.98825382  758.43961688 1353.90614231
 4277.25330798  842.95315731 1263.80282627 4864.85084921 1036.01500585
 1686.76531001]

## Best Random Forest Model - Without Scaling and Corelation

In [ ]:
# Without Scaling, Validation 
# Train sale Predictions for RMSE using DT Regression

RF_model = RandomForestRegressor(max_depth=5, random_state=0, min_samples_split=3, min_samples_leaf=1)
RF_model.fit(X_train_T, y_train_T)

y_val_pred_RF = RF_model.predict(X_val_T)
print("RMSE Train - ", mean_squared_error(y_val_T, y_val_pred_RF, squared=False)) # RMSE - Root Mean Square Error, squared = false
#RMSE Train -  296.7196794584481

# 274.9006992120847

RMSE Train -  274.8790225041605

In [ ]:
# Test 2015 Sales Predictions using RF Regression

y_test_pred_RF = RF_model.predict(features_test) # Test Labels here are 2015 Test Sales
print("Sales Predictions Count", len(y_test_pred_RF))
print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print("Test Sales Predictions for 2015 - \n", y_test_pred_RF)

df_Sales_Test_RF_csv = df_Sales_Test.copy(deep=True)
df_Sales_Test_RF_csv['Sales(In ThousandDollars)'] = y_test_pred_RF
df_Sales_Test_RF_csv['Sales(In ThousandDollars)'].to_csv('Sample_Predictions_RF.csv')
# Test Sales Predictions with Model Trained on Train Data File Merged with all 3 other Data files - Holidays, Weather and Economic Data sets

y_test_pred_RF[::3]

Sales Predictions Count 36
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Test Sales Predictions for 2015 -
 [3266.52434259  693.87394439 1286.66296837 3304.51133826  617.2643098
 1309.55127353 3919.54127815  667.88982116 1280.39644844 4235.52991867
  752.94643268 1345.15282078 4111.64493674  850.68368846 1261.43063949
 3963.10952998  720.39871288 1197.93379231 3791.70763705 1191.06889533
 1231.08051049 3840.0298313   983.1021379  1260.26964294 3964.21279241
  802.6060402  1227.50708318 4158.31555504  806.60201718 1315.71333952
 4182.19129708  923.23893921 1290.59540522 4846.66080719  986.12362297
 1617.02351113]

array([3266.52434259, 3304.51133826, 3919.54127815, 4235.52991867,
       4111.64493674, 3963.10952998, 3791.70763705, 3840.0298313 ,
       3964.21279241, 4158.31555504, 4182.19129708, 4846.66080719])

In [ ]:
y_test_pred_RF_Full[::3]

array([3388.51245043, 3508.20452254, 4135.48856755, 4303.40690307,
       4139.22301597, 4096.28814602, 4036.52630674, 4065.56686019,
       4159.81068188, 4196.98825382, 4277.25330798, 4864.85084921])

## 5. XG Boost

In [ ]:
pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)

In [ ]:
from xgboost import XGBRegressor

model = XGBRegressor(
    max_depth=8,
    n_estimators=1000,
    min_child_weight=300, 
    colsample_bytree=0.8, 
    subsample=0.8, 
    eta=0.3,    
    seed=42)

model.fit(
    X_train, 
    y_train, 
    eval_metric="rmse", 
    eval_set=[(X_train, y_train), (X_val, y_val)], 
    verbose=True, 
    early_stopping_rounds = 10)

Y_pred = model.predict(X_val)

print("RMSE Train - ", mean_squared_error(y_val, Y_pred, squared=False))

[11:36:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:1945.98	validation_1-rmse:2016.82
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:1833.35	validation_1-rmse:1905.65
[2]	validation_0-rmse:1731.63	validation_1-rmse:1805.29
[3]	validation_0-rmse:1645.72	validation_1-rmse:1720.53
[4]	validation_0-rmse:1569.06	validation_1-rmse:1644.86
[5]	validation_0-rmse:1505.32	validation_1-rmse:1581.87
[6]	validation_0-rmse:1451.2	validation_1-rmse:1528.31
[7]	validation_0-rmse:1404.3	validation_1-rmse:1481.76
[8]	validation_0-rmse:1367.72	validation_1-rmse:1445.34
[9]	validation_0-rmse:1336.38	validation_1-rmse:1414.01
[10]	validation_0-rmse:1312.72	validation_1-rmse:1390.23
[11]	validation_0-rmse:1291.49	validation_1-rmse:1368.78
[12]	validation_0-rmse:1273.91	validation_1-rmse:1350.88
[13]	validation_0-rmse:1262.06	validation_1-rmse:1338.74
[14]	validation_0-rmse:1253.86	validation_1-rmse:1330.27
[15]	validation_0-rmse:1244.06	validation_1-rmse:1320.08
[16]	validation_0-rmse:1236.09	validation_1-rmse:1311.7
[17]	validation_0-rmse:1228.91	validation_1-rmse:1304.08
[18]	validation_0-rmse:1223.51	validation_1-rmse:1298.26
[19]	validation_0-rmse:1219.07	validation_1-rmse:1293.4
[20]	validation_0-rmse:1214.92	validation_1-rmse:1288.8
[21]	validation_0-rmse:1211.88	validation_1-rmse:1285.35
[22]	validation_0-rmse:1208.92	validation_1-rmse:1281.91
[23]	validation_0-rmse:1206.83	validation_1-rmse:1279.41
[24]	validation_0-rmse:1205.79	validation_1-rmse:1278.13
[25]	validation_0-rmse:1204.84	validation_1-rmse:1276.94
[26]	validation_0-rmse:1203.87	validation_1-rmse:1275.68
[27]	validation_0-rmse:1203.55	validation_1-rmse:1275.25
[28]	validation_0-rmse:1203.16	validation_1-rmse:1274.72
[29]	validation_0-rmse:1202.81	validation_1-rmse:1274.24
[30]	validation_0-rmse:1203.04	validation_1-rmse:1274.56
[31]	validation_0-rmse:1202.31	validation_1-rmse:1273.52
[32]	validation_0-rmse:1202.25	validation_1-rmse:1273.43
[33]	validation_0-rmse:1202.28	validation_1-rmse:1273.48
[34]	validation_0-rmse:1201.63	validation_1-rmse:1272.48
[35]	validation_0-rmse:1201.37	validation_1-rmse:1272.05
[36]	validation_0-rmse:1201.3	validation_1-rmse:1271.93
[37]	validation_0-rmse:1201.36	validation_1-rmse:1272.04
[38]	validation_0-rmse:1201.47	validation_1-rmse:1272.23
[39]	validation_0-rmse:1201.29	validation_1-rmse:1271.92
[40]	validation_0-rmse:1201.07	validation_1-rmse:1271.52
[41]	validation_0-rmse:1200.92	validation_1-rmse:1271.22
[42]	validation_0-rmse:1200.99	validation_1-rmse:1271.36
[43]	validation_0-rmse:1200.75	validation_1-rmse:1270.81
[44]	validation_0-rmse:1200.76	validation_1-rmse:1270.85
[45]	validation_0-rmse:1200.7	validation_1-rmse:1270.67
[46]	validation_0-rmse:1200.86	validation_1-rmse:1271.08
[47]	validation_0-rmse:1201.01	validation_1-rmse:1271.39
[48]	validation_0-rmse:1200.92	validation_1-rmse:1271.21
[49]	validation_0-rmse:1201.06	validation_1-rmse:1271.5
[50]	validation_0-rmse:1201.11	validation_1-rmse:1271.58
[51]	validation_0-rmse:1201	validation_1-rmse:1271.37
[52]	validation_0-rmse:1200.93	validation_1-rmse:1271.23
[53]	validation_0-rmse:1200.85	validation_1-rmse:1271.07
[54]	validation_0-rmse:1200.91	validation_1-rmse:1271.19
[55]	validation_0-rmse:1200.98	validation_1-rmse:1271.33
Stopping. Best iteration:
[45]	validation_0-rmse:1200.7	validation_1-rmse:1270.67

RMSE Train -  1270.6743427368706

## 6. Lasso Model

In [ ]:
L_model = linear_model.Lasso(alpha=0.2)
L_model.fit(X_train, y_train)

y_val_pred_L = L_model.predict(X_val)
print("y_val_pred_L - ", y_val_pred_L)
print("RMSE Train - ", mean_squared_error(y_val, y_val_pred_L, squared=False))

y_val_pred_L -  [1649.92536461 1715.64649789  935.03518915 1921.3225177  1651.86789919
  390.64554233 2147.78620247 1988.06273088 2050.92770851 1643.02733095
 1208.99871313 1347.83522317  128.29650701 2978.02244364 3041.6129599
 2923.89616169 3136.4392278  3042.64535153  662.42394225 2930.76320798
  436.7511891  3266.0444186  1037.55977991  286.81269481  343.50033973
 3365.26860933  493.66274151 1969.69969098  604.62568527 1327.1460413
 1203.6740235  3311.04797118 1751.59117161  835.81099841  -22.95259779
 1494.53169872 2536.44862044 3092.65736243 1558.61704982 2517.03697846
 2974.30603233 2938.81315182  780.01179288  322.46813868]
RMSE Train -  551.4526516849708

In [ ]:
df_economic = pd.read_excel(data_folder + economic_file)
print("Shape BEFORE - ", df_economic.shape)

df_economic[['Year', 'Month']] = df_economic['Year-Month'].str.split("-", expand = True)
df_economic[['Month']] = df_economic['Month'].str.strip()
# df_economic.drop(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)', 'PartyInPower', 'CommercialBankInterestRateonCreditCardPlans',
#                   'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan', 'AdvertisingExpenses (in Thousand Dollars)', 'Change(in%)',
#                   'Average upland planted(million acres)', 'Average upland harvested(million acres)', 'yieldperharvested acre', 
#                   'Production (in  480-lb netweright in million bales)','Mill use  (in  480-lb netweright in million bales)', 'Exports'],
#                     axis=1, inplace=True)

df_economic = df_economic.replace({"Month":month_no})  
df_economic[['Year','Month']] = df_economic[['Year','Month']].astype(int)

df_economic

Shape BEFORE -  (96, 18)

    Year-Month  Monthly Nominal GDP Index (inMillion$)  ...  Year  Month
0   2009 - Jan                            14421.752895  ...  2009      1
1   2009 - Feb                            14389.200466  ...  2009      2
2   2009 - Mar                            14340.701639  ...  2009      3
3   2009 - Apr                            14326.815525  ...  2009      4
4   2009 - May                            14345.904809  ...  2009      5
..         ...                                     ...  ...   ...    ...
91  2016 - Aug                            18741.599947  ...  2016      8
92  2016 - Sep                            18840.309646  ...  2016      9
93  2016 - Oct                            18740.780023  ...  2016     10
94  2016 - Nov                            18960.461568  ...  2016     11
95  2016 - Dec                            19015.393408  ...  2016     12

[96 rows x 20 columns]

In [ ]:
# 3. Clean Weather Dataframe  
df_weather_file = pd.ExcelFile(data_folder + weather_file)
df_weather = pd.read_excel(df_weather_file, sheet_name = df_weather_file.sheet_names)
df_weather = pd.concat(df_weather[k] for k in df_weather.keys())

print("Shape BEFORE - ", df_weather.shape)

df_weather = df_weather.replace({"Month":month_no})
df_weather = df_weather.apply(pd.to_numeric, errors='coerce') # Using coerce - Returns NANs if not convertible, say string values - avg, high
df_weather = df_weather.replace('-', np.nan)

df_weather['Year'] = df_weather['Year'].fillna(df_weather['Year'].mode().iat[0])
df_weather['Month'] = df_weather['Month'].fillna(df_weather['Month'].mode().iat[0])
df_weather[['Year','Month']] = df_weather[['Year','Month']].astype(int)

df_weather.drop(['WeatherEvent'], axis=1, inplace=True)

df_weather = df_weather.groupby(['Year', 'Month'], as_index=False)['Temp avg (°C)',
      'Dew Point avg (°C)',
      'Humidity\xa0(%) avg',
      'Sea Level Press.\xa0(hPa) avg',
      'Visibility\xa0(km) avg', 
      'Wind\xa0(km/h) avg','Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high',
      'Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low',
      'Wind\xa0(km/h) high','Wind\xa0(km/h) low','Precip.\xa0(mm) sum'].mean()

print("Train data set len - ", len(df_weather[df_weather['Year'].isin([2009, 2010, 2011, 2012, 2013, 2014])]))
print("[2015, 2016] Data set len - ", len(df_weather[df_weather['Year'].isin([2015, 2016])]))
print("Test data set len - ", len(df_weather[df_weather['Year'].isin([2015])]))

Shape BEFORE -  (2923, 23)
Train data set len -  72
[2015, 2016] Data set len -  24
Test data set len -  12

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
df_full = (pd.merge(df_train, df_holidays_Train, how='left', on=['Year','Month'])).merge(pd.merge(df_economic_Train, df_weather_Train, how='left', on=['Year','Month']), how = 'left', on=['Year','Month'])
df_full.shape

(216, 17)

In [ ]:
df_full.isna().sum()
df_full=df_full.fillna(0)
df_full.isna().sum()

Year                                              0
Month                                             0
ProductCategory                                   0
Sales(In ThousandDollars)                         0
DayCategory_Event                                 0
DayCategory_Federal Holiday                       0
Monthly Real GDP Index (inMillion$)               0
CPI                                               0
unemployment rate                                 0
Earnings or wages  in dollars per hour            0
Cotton Monthly Price - US cents per Pound(lbs)    0
Temp avg (°C)                                     0
Dew Point avg (°C)                                0
Humidity (%) avg                                  0
Sea Level Press. (hPa) avg                        0
Visibility (km) avg                               0
Wind (km/h) avg                                   0
dtype: int64

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

forest = ExtraTreesClassifier(n_estimators=250,
                              random_state=0)

X = df_full.drop(columns=['Sales(In ThousandDollars)'])
y = df_full['Sales(In ThousandDollars)']

forest.fit(X, y)
importances = forest.feature_importances_
std = np.std([tree.feature_importances_ for tree in forest.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

# Plot the impurity-based feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(X.shape[1]), importances[indices],
        color="r", yerr=std[indices], align="center")
plt.xticks(range(X.shape[1]), indices)
plt.xlim([-1, X.shape[1]])
plt.show()

## **Stage 3:** Each time you submit in kaggle, ensure that the code given by you in Stage2 gives the same result. Follow the steps for the validation:
### a) Enter your Kaggle RMSE in the form below 
### b) After entering RMSE below, go to File->'Save and pin revision' (To ensure you do so, you are asked to mark 'Yes' to the instruction asking the same)
**Note: The Shortcut for 'Save and pin revision' is Ctrl+M+S**</br>
**Note: You can check if the action has succeeded by going to File->Revision History and you'll find "PIN" checkbox checked if successful.** 


- This action ensures there is 'proof of code' for each submission you make.
- If you submit your results in Kaggle, and get a leaderboard RMSE score, but you don't follow the steps asked above, then your **score will NOT be considered**, as we don't have the proof of your code. (We map the 'proof of code' by mapping it to your "RMSE+Time of save+pin"). In other words, if you want your RMSE score to be considered you have to follow the process. 
- However for trial submission (RMSE scores you don't care about being considered, as you're still experimenting in your initial attempts) you don't have to follow the process above.
- **One member from your team can collect all your team-members colab shared links and email them to aimlkaggle@gmail.com as per deadlines.** Ensure to give view access to aimlkaggle@gmail.com.
- **FINALLY: "Do NOT download and reupload this file as all the revision history will be lost"**

# Submit your RMSE value below:

Eg:   RMSEValue:     234.07

In [ ]:
#@title Submission details are:

RMSEValue = '255.41124' #@param {type:"string"}
Execute_Save_and_Pin_revision_now = 'Yes' #@param ['Yes','No']